* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

:root {
  --primary-color: linear-gradient(to top left, #13366a, #c3d0db);
  --secondary-color: #efefef;
  --tertiary-color: rgba(200, 200, 200, 0.8);
  --fourth-color: #fff;
  --fifth-color: linear-gradient(to top right, #13366a, #c3d0db);
  --deposit--color: #4ec443;
  --withdrawal--color: #ce291d;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
}

#top {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#top > div {
  width: 33%;
}

#top > div {
  text-align: center;
}

#top > div:last-child {
  display: flex;
  justify-content: space-between;
}

#top > div > input {
  width: 39%;
}

#top > div *:last-child {
  width: 19%;
}

#login--btn:hover {
  cursor: pointer;
}

.account {
  display: none;
  width: 80%;
  margin: 0 auto;
}

#movements--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#movements--main {
  display: flex;
  justify-content: space-between;
}

#movements--main > div {
  width: 48%;
}

#movements-main-left {
  background: var(--secondary-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#movements-main-left > div:not(:last-child) {
  border-bottom: 1px solid var(--tertiary-color);
}

.movement {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  height: auto;
}

.movement--left {
  width: 80%;
}

.movement--left span {
  display: inline-block;
}

.movement--right {
  width: 20%;
}

.movement--type--deposit {
  border-radius: 15px;
  padding: 15px;
  margin-right: 3rem;
  background: var(--deposit--color);
}

.movement--type--withdrawal {
  border-radius: 15px;
  padding: 15px;
  margin-right: 2rem;
  background: var(--withdrawal--color);
}

#movements-main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#movements-main-right > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--fifth-color);
  border-radius: 15px;
  padding: 1rem;
  color: var(--fourth-color);
}

#movements-main-right > div:not(:last-child) {
  margin-bottom: 2rem;
}

#movements-main-right > div > * {
  line-height: 1.5;
}

#movements--bottom {
  height: 15vh;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

#movements--bottom > div {
  width: 48%;
  color: #fff;
}

.movements--bottom--left {
  display: flex;
  justify-content: space-around;
}

.movements--bottom--left > * {
  font-size: 0.6em;
}

.movements--bottom--right {
  text-align: right;
}

.active {
  display: block;
}

input {
  border-radius: 15px;
  padding: 5px;
}

@media only screen and (max-width: 800px) {
  #movements--main {
    flex-direction: column;
  }

  #movements--main > div {
    width: 100%;
  }

  #movements--main > div:not(:last-child) {
    margin-bottom: 3rem;
  }

  .movement--left > span {
    margin-bottom: 1rem;
  }
}
